<div id="scheduleOverlay" class="overlay hidden">
  <div id="scheduleModal" class="modal">
    <div class="modal-header">
      <span>Atur Jadwal Belajar</span>
      <button class="modal-close" id="closeSchedule">✕</button>
    </div>

    <div class="modal-body">
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Monday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="sen" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Tuesday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="sel" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Wednesday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="rab" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Thursday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="kam" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Friday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="jum" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Saturday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="sab" /><span
            class="slider"
          ></span
        ></label>
      </div>
      <div class="day-row">
        <div class="day-row-left"><i class="bi bi-layers"></i> Sunday</div>
        <label class="switch"
          ><input type="checkbox" class="day-toggle" data-day="min" /><span
            class="slider"
          ></span
        ></label>
      </div>
    </div>
  </div>
</div>
