<div id="notSubmittedOverlay" class="not-submitted-overlay">
  <div id="notSubmittedModal" class="not-submitted-modal">
    <h2 class="ns-title">Daily Check-in</h2>

    <p id="notSubmittedTitle" class="ns-text">
      Kamu Tidak Mengisi Daily Check-in
    </p>

    <div class="ns-button-group">
      <button id="notSubmittedStatus" class="ns-status-button" disabled>
        Not Submitted
      </button>

      <button id="notSubmittedOk" class="ns-button">OK</button>
    </div>
  </div>
</div>
