<div class="card" id="activityContainer">
  <div class="title-card">
    <div class="title-left">
      <i class="bi bi-calendar-check" style="font-size: 22px"></i>
      <div class="title-text">
        <h3>Aktivitas Belajar</h3>
        <p>
          Hasil Pencapaian Mingguan, Streak Belajar, Serta Konsistensi Belajar
          yang sudah Dilakukan
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="best-streak-label under-header">
      <i class="bi bi-lightning-charge-fill"></i> Best Streak
      <strong id="bestStreak">10</strong>
    </div>

    <div class="activity-left">
      <div class="minutes-value" id="totalMinutes">
        300 Menit
        <span class="minutes-inc" id="diffMinutes">
          <i class="bi bi-arrow-up-circle-fill"></i> 20 Menit
        </span>
      </div>
      <div class="minutes-text">Perbandingan dengan Minggu Kemarin</div>

      <div class="stats-block">
        <div class="stats-item">
          Course
          <strong id="courseCount"
            ><i class="bi bi-person-workspace"></i> 18</strong
          >
        </div>

        <div class="stats-item">
          Assessments
          <strong id="assessmentCount"
            ><i class="bi bi-card-checklist"></i> 10</strong
          >
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="streak-badges">
        <div class="badge-item" data-day="sun">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Min
        </div>

        <div class="badge-item" data-day="mon">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Sen
        </div>

        <div class="badge-item" data-day="tue">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Sel
        </div>

        <div class="badge-item" data-day="wed">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Rab
        </div>

        <div class="badge-item" data-day="thu">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Kam
        </div>

        <div class="badge-item" data-day="fri">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Jum
        </div>

        <div class="badge-item" data-day="sat">
          <div class="badge-circle">
            <i class="bi bi-lightning-charge-fill"></i>
          </div>
          Sab
        </div>
      </div>

      <div class="cta-box">
        <p><strong>Atur jadwal belajarmu sekarang !</strong></p>
        <p>Pertahankan Streak Belajarmu dengan Jadwal yang Konsisten</p>
        <a class="link" id="openSchedule">Atur Jadwal Belajar</a>

        <br /><br />

        <p>
          <strong
            >Kejarr prestasimu! Siapa Pemilik Streak Tertinggi Hari Ini?</strong
          >
        </p>
        <a class="link" id="btn-streak">Lihat Streak Belajar</a>
      </div>
    </div>
  </div>
</div>
