<div class="card calendar-card">
  <div class="controls">
    <div class="controls-left">
      <i class="bi bi-calendar2-check" style="font-size: 24px"></i>
      <div>
        <div class="strong">Daily Check-in</div>
        <p class="muted">Selalu Catat Pencapaian Belajarmu Hari Ini</p>
      </div>
    </div>

    <div>
      <button class="btn" id="btn-open-add">+ Daily Check-in</button>
    </div>
  </div>

  <div class="calendar">
    <div class="calendar-header">
      <div class="muted" id="currentDayLabel"></div>

      <div class="calendar-controls">
        <button id="prevBtn" title="Prev month">&lt;</button>
        <div class="calendar-month-label" id="monthLabel">—</div>
        <button id="nextBtn" title="Next month">&gt;</button>
      </div>
    </div>

    <div id="fc-calendar"></div>
  </div>
</div>
