<nav class="navbar">
  <div class="nav-left">
    <img src="/src/images/Dicoding.png" alt="Dicoding Logo" class="logo" />

    <ul class="nav-menu" id="navMenu">
      <li>Home</li>
      <li>Academy</li>
      <li>Challenge</li>
      <li>Event</li>
      <li>Jobs</li>
    </ul>
  </div>

  <div class="nav-right">
    <span class="coin">⚡ 5</span>
    <img src="src/images/logo.jpg" alt="Profile" class="profile-img" />
    <span class="notif"><i class="bi bi-bell-fill"></i></span>
  </div>
</nav>
